{% extends 'base.html' %}

{% load it %}

{% block content %}
    <div class="list-group">
    {% for type in food_type %}
        <a class="list-group-item list-group-item-action flex-column" href="#{{ type.id }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">{{ type.name }}</h5>
                <small data-toggle="tooltip" data-placement="top"
                       data-timestamp=""
                       data-delay="500">
                </small>
            </div>
        </a>
    {% endfor %}
    {% for food in foods %}
    {% for type in food_type %}
    {% if food.food_type.id == type.id %}
        <a class="list-group-item list-group-item-action flex-column" id="{{ type.id }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">{{ type.name }}</h5>
            </div>
        </a>
        {{ food_type|re:type }}
    {% endif %}
    {% endfor %}

        <a class="list-group-item list-group-item-action flex-column">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-success" onclick="copyTxt('{{ food.name }}')">{{ food.name }}</h5>
                <small data-toggle="tooltip" data-placement="top"
                       data-timestamp=""
                       data-delay="500">
                </small>
            </div>
            <p class="mb-1">{{ food.name }}</p>
        </a>
    {% endfor %}
    </div>
<script>
//原生js实现复制内容到剪切板，兼容pc、移动端（支持Safari浏览器）
function copyTxt(text){
    if(typeof document.execCommand!=="function"){
        alert("复制失败，请长按复制");
        return;
    }
    var dom = document.createElement("textarea");
    dom.value = text;
    dom.setAttribute('style', 'display: block;width: 1px;height: 1px;');
    document.body.appendChild(dom);
    dom.select();
    var result = document.execCommand('copy');
    document.body.removeChild(dom);
    if (result) {
        // alert("复制成功");
        return;
    }
    if(typeof document.createRange!=="function"){
        alert("复制失败，请长按复制");
        return;
    }
    var range = document.createRange();
    var div=document.createElement('div');
    div.innerhtml=text;
    div.setAttribute('style', 'height: 1px;fontSize: 1px;overflow: hidden;');
    document.body.appendChild(div);
    range.selectNode(div);
    const selection = window.getSelection();
    if (selection.rangeCount > 0){
        selection.removeAllRanges();
    }
    selection.addRange(range);
    document.execCommand('copy');
    // alert("复制成功")
}
</script>
{% endblock %}

